@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

#mainContainer{
    overflow: hidden;
}

#post-It{
    z-index: 50;
}

#chatInput{
    z-index: 1;
}

.verticalNavBarLeft{
    background-color: rgba(0, 0, 0, .15);
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    direction: ltr;
}

#chatInput{
    display:none;
}

.table-wrapper-scroll-y {
    display: block;
}

.column{
    float: left;
}

#contactText{
    margin-left: 0px;
    width: 100%;
}

#contactList{
    margin-left: 0px;   
    width: 100%;
}

#tableMessages{
    margin-left: 5% !important;
    width: 90% !important;
}

#tableList{
    margin-left: 15px;
}

#profileStatus{
    margin-left: 0px;
    width: 100%;
    margin-top: 10px;
}

#contacts{
    margin-bottom: 5px;
}

#chat{    
    display: none;
}

#chat1{
    background-color: black;
}

#chatBar{
    display: none;
}

.messageBar{ 
    margin-top: 0;
    margin-left: 5%;
    max-width: 90%;
}

.verticalNavBarRight{
    /*margin-top:10pt;
    margin-left: 10pt;*/
    border-left-style:solid ;
    border-left-color:rgb(104, 99, 99) ;
    border-left-width: 1 px ;
    background-color: rgba(0, 0, 0, .15);   
}

.verticalNavBarChat{
    /*margin-top:10pt;
    margin-left: 10pt;*/
    border-left-style:solid ;
    border-left-color:rgb(104, 99, 99) ;
    border-left-width: 1 px ;
    background-color: rgba(0, 0, 0, .25);   
}

.cal{
    color: black;
}

#calend{
    display: none;
    position:absolute;
    z-index: 10;
}

#messages{

}

.clockStyle{
    background-color: white;
    border-radius: 50%;
    position: relative;
}
.embedBourse{
    position:absolute;
}

#formCreaChat{
    display: none;
    width: 100%;
}

#connectedBtn{
    color: green;
}

#absentBtn{
    color: orange;
}

#dndBtn{
    color: red;
}

.Home{
    font-family: 'Nunito', sans-serif;
    height:100%;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}
