#loginForm{
  overflow: hidden;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

}

#loginForm{
  /*background: linear-gradient(to bottom, #01c8e2, #003849);*/
  height:100%;
}

.logo{
  margin-top: 5vh;
}

.redirectRegister{
  text-align: left;
}